// ==========================================================================
// Headings Atom
// ==========================================================================

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.75em 0;
    padding: 0;
    color: palette(black);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h1, .h1 {
    font-size: ms(8);

    @include respond-to(large) {
        font-size: ms(10);
    }
}

h2, .h2 {
    font-size: ms(4);

    @include respond-to(large) {
        font-size: ms(6);
    }
}

.h--light {
    font-weight: 300;
}
