// ==========================================================================
// Time Atom
// ==========================================================================

time {
    font-size: rem-calc(11);
    text-transform: uppercase;
    color: palette(primary);
    font-weight: 600;
    font-style: normal;
}
