// ==========================================================================
// Cite Atom
// ==========================================================================

cite {
    font-size: rem-calc(12);
    text-transform: uppercase;
    color: palette(black);
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
}
